@model WebEnterprise.ViewModels.ContributionIndexViewModel
@using System.Globalization


@{
    ViewBag.Title = "Contributions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var schoolSystemData = Model.SchoolSystemDatas.FirstOrDefault(); // Assuming there's only one SchoolSystemData
}
<div class="page-container">

    <h1 class="m-3">Contributions</h1>

    <table class="date-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Submission Date</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contribution in Model.Contributions)
            {
                <tr>
                    <td>@contribution.Title</td>
                    <td><textarea readonly>@contribution.Content</textarea></td>
                    <td>@contribution.SubmissionDate</td>
                    <td>
                        <div id="submission-img">
                            <img src="@Url.Content(contribution.ImageUrl)" alt="img" />
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Contribution Actions">
                            @if (schoolSystemData != null && DateTime.TryParseExact(schoolSystemData.ClosureDate, "dd/MM/yyyy", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime closureDate) && DateTime.Now < closureDate)
                            {
                                <a href="@Url.Action("Edit", new { id = contribution.Id })">
                                    <ion-icon name="create-outline" id="table-button" style="--color: #162938;"></ion-icon>
                                </a>
                                <a href="@Url.Action("Delete", new { id = contribution.Id })">
                                    <ion-icon name="trash-outline" id="table-button" style="--color: #d41c00;"></ion-icon>
                                </a>
                            }
                            <a href="@Url.Action("DownloadContribution", "Contributions", new { facultyId = contribution.FacultyId, id = contribution.Id })">
                                <ion-icon name="download-outline" id="table-button" style="--color: #31a500;"></ion-icon>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (schoolSystemData != null)
    {
        if (DateTime.TryParseExact(schoolSystemData.ClosureDate, "dd/MM/yyyy", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime closureDate))
        {
            if (DateTime.Now < closureDate)
            {
                var daysLeft = (closureDate - DateTime.Now).Days;
                <p>Editing and deleting contributions is allowed.</p>
                <p>Days left: @daysLeft days</p>
            }
            else
            {
                <p>Editing and deleting contributions is not allowed as the closure date has passed.</p>
            }
        }
        else
        {
            <p>Invalid closure date format.</p>
        }
    }
    else
    {
        <p>School system data not found.</p>
    }
</div>




