@model List<Contribution>

@{
    ViewBag.Title = "Approved Contributions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <h1>Approved Contributions</h1>

    @if (Model.Any())
    {
        <table class="date-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Image</th>
                    <th>File Download</th>
                    <th>Submission Date</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var contribution in Model)
            {
                <tr>
                    <td>@contribution.Title</td>
                    <td><textarea readonly>@contribution.Content</textarea></td>
                    <td>
                         <div id="submission-img">
                            <img src="@Url.Content(contribution.ImageUrl)" alt="img" />
                        </div>
                    </td>
                    <td>
                        <a href="@Url.Action("DownloadContribution", "Contributions", new { facultyId = contribution.FacultyId, id = contribution.Id })">
                            <ion-icon name="download-outline"id="table-button" style="--color: #31a500;"></ion-icon>
                        </a>
                    </td>
                    <td>@contribution.SubmissionDate</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No approved contributions found.</p>
    }
</div>