@model WebEnterprise.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "User Detail";
}

<div class="page-container">
    <div class="form-container" style="flex-direction: column; width: 50%;">
        <h1>User Details</h1>
        <table class="detail-table">
            <tr>
                <th>Full Name</th>
                <td>@Html.DisplayFor(model => model.FullName)</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>@Html.DisplayFor(model => model.DoB)</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>@Html.DisplayFor(model => model.Role)</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>@Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>@Html.DisplayFor(model => model.CreatedAt)</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
            </tr>
        </table>
        <div class="submit-form">
            <a asp-action="Index" style="--color: #0b5b8d;" id="form-Btn">Back to List</a>
        </div>
    </div>
</div>