@model WebEnterprise.Models.User

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">User Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Full Name:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FullName)</dd>

            <dt class="col-sm-3">Role:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Role)</dd>

            <dt class="col-sm-3">Gender:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

            <dt class="col-sm-3">Date of Birth:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DoB)</dd>

            <dt class="col-sm-3">Created At:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

            <dt class="col-sm-3">Updated At:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)</dd>
        </dl>
    </div>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
