@model IEnumerable<WebEnterprise.Models.User>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Users Management";
}


<h1 class="mt-5 mb-4">User Management</h1>
<a class="btn btn-success" asp-controller="Users" asp-action="Create">Create User</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FullName</td>
                    <td>@user.Gender</td>
                    <td>@user.DoB</td>
                    <td>@user.Role</td> <!-- Display the user's role -->
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            <a class="btn btn-info btn-sm" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Details</a>
                             <a asp-area="Authenticated" asp-controller="Users" asp-action="ConfirmEmail" asp-route-id="@user.Id" class="btn btn-success">Reset Password</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>