@model List<WebEnterprise.Models.ContributionClosureDate>

@{
    ViewBag.Title = "Edit date submission";
    Layout = "_Layout";
}

<div class="page-container">
    <h1>Submission Closure Dates</h1>

    <a href="@Url.Action("Create", "DateSubmissions")" id="link-icon"><ion-icon name="calendar-outline" style="margin-right: 5px"></ion-icon>Create New Submission Closure</a>

    <table class="date-table">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Faculty</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var closure in Model)
            {
                <tr>
                    <td>@closure.StartDate.ToShortDateString()</td>
                    <td>@closure.EndDate.ToShortDateString()</td>
                    <td>@closure.Faculty.Name</td>
                    <td>                           
                        <form asp-action="DeleteClosure" asp-route-id="@closure.Id" onsubmit="return confirm('Are you sure you want to delete this closure?');" style="display: flex; flex-wrap: nowrap;">
                            <a asp-action="EditClosure" asp-route-id="@closure.Id">
                                <ion-icon name="create-outline" id="table-button" style="--color: #162938;"></ion-icon>
                            </a> 
                            <button type="submit" style="border: none; outline: none; background: transparent">
                                <ion-icon name="trash-outline" id="table-button" style="--color: #ff2400;"></ion-icon>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
