@model IEnumerable<WebEnterprise.Models.Faculty>
@{
    ViewData["Title"] = "Faculties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">

    <h1 class="m-3">Manage Faculties</h1>

    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("CreateFaculty")" id="link-icon">
                <ion-icon name="bookmark" style="padding-right: 5px"></ion-icon>New Faculty
            </a>
        </div>

        <div class="col-md-6">
            <input id="myInput" type="text" class="form-control" placeholder="Search...">
        </div>
    </div>

    <table class="date-table">
        <thead>
            <tr>
                <th style="width: 80px;">
                    ID
                </th>
                <th style="border-left: 1px solid white;">
                    Name
                </th>
                <th style="border-left: 1px solid white; width: 150px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="tblData">
            @foreach (var faculty in Model)
            {
                <tr>
                    <td style="padding-left: 20px">
                        @faculty.Id
                    </td>
                    <td id="border-left">
                        @faculty.Name
                    </td>
                    <td>
                        <a href="@Url.Action("EditFaculty", new { id = faculty.Id })" >
                            <ion-icon name="create-outline" id="table-button" style="--color: #162938;"></ion-icon>
                        </a>
                        <a href="@Url.Action("DeleteFaculty", new { id = faculty.Id })" >
                            <ion-icon name="trash-outline" id="table-button" style="--color: #ff2400;"></ion-icon>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
